@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.link {
  @apply w-40 rounded-xl bg-gray-50 flex items-start justify-center p-1 text-xl font-semibold text-gray-950;
}

.linkRed {
  @apply w-40 rounded-xl bg-red-500 flex items-start justify-center p-1 text-xl font-semibold text-gray-950;
}

.btn {
  @apply rounded-xl bg-gray-50 flex items-start justify-center px-4 py-1 text-xl font-semibold text-gray-950 cursor-pointer;
}

header {
  height: 25vh;
}

section {
  max-width: 1550px;
  @apply mt-40 w-full flex items-center justify-start flex-col p-9;
}

nav ul li {
  @apply font-bold text-xl relative mx-2 cursor-pointer;
}

nav ul li.selected {
  color: yellow;
}
nav ul li.selected::before {
  display: block;
}

.line {
  height: 1px;
  @apply w-full bg-gray-500 my-4;
}

nav ul li::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 8px;
  height: 8px;
  background-color: yellow;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  display: none;
}

.card {
  width: calc(90% / 3);
  @apply flex flex-col items-center justify-center text-center m-5 w-80 h-80 overflow-hidden relative;
  display: none;
}
.card.item.show {
  display: flex;
}

.card .image,
.card .image img {
  width: 100%;
  height: 100%;
}

.card .text {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #0c0c0cab;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.card .text h4 {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: left;
  margin: 0 0 5px 0;
}

.card .text h4:nth-child(2) {
  text-align: right;
}

.card .text h3 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.3rem;
  font-weight: 800;
  color: #00eb5a;
}

.orderList .list .order:hover .items {
  height: 300px;
}

.sizeChoice {
  @apply px-12 py-1 border-2 font-semibold hover:bg-textColor hover:text-bgColor cursor-pointer;
}

input[type="radio"]:checked + .sizeChoice {
  @apply bg-textColor text-bgColor;
}

.itemInfo .info {
  width: calc(80% - 500px);
  min-width: 500px;
  margin-top: 30px;
}

.checkout input {
  @apply bg-bgColor w-full text-textColor font-mainFont p-1 rounded-lg border-none outline-none mx-1 my-2;
  border-bottom: 2px solid white;
}

.outBox {
  @apply bg-textColor flex items-center justify-start h-6 w-12 rounded-full mr-3 p-1 relative transition-all duration-700;
  margin-left: 10px;
}

.inBox {
  @apply h-5 w-5 bg-bgColor rounded-full cursor-pointer absolute duration-700;
  left: 2px;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
.outBox.active {
  background-color: #00ff22;
}
.inBox.active {
  left: 26px;
}

form h5 {
  direction: rtl;
}

/* Dashboard */
.partIcons ul li {
  cursor: pointer;
  padding: 5px 10px;
}

.partIcons ul li.selected {
  background-color: black;
  color: white;
}

.partitions {
  width: 100%;
}
.partitions > div {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: none;
}

.partitions > div.active {
  display: flex;
}

.partitions > div h2 {
  font-size: xx-large;
  font-weight: 600;
}

.add form {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add form > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.add form input,
select,
textarea {
  @apply bg-bgColor text-textColor font-mainFont p-1 rounded-lg border-none outline-none mx-2 my-2;
  width: calc(95% / 2);
  min-width: 300px;
  max-width: 400px;
  border-bottom: 2px solid white;
}
